[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
paho-mqtt = "*"
opencv-contrib-python-headless = "*"
python-slugify = "*"
regex = "*"
imutils = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.9"
